@import '../../../../common/scss/variables.scss';

// typography
.h4 {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight500;
	line-height: $lineHeight17;
	color:       $fivefold;
}
.span-button,
.button-clear,
.button-ok {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight600;
	line-height: $lineHeight17;
	color:       $primary;
}
.content {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight500;
	line-height: $lineHeight17;
	color:       $primary;
}
///////////////////////////////
.container {
  position: relative;
  background-color: $secondary;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
  width: 100%;
  height: 82px;
  border-top: 1px solid rgb(102, 78, 249, 0.1);
  border-bottom: 1px solid rgb(102, 78, 249, 0.1);
}
.block-room {
  display: inline-block;
  width: 357px;
  height: 100%;
  border-right: 1px solid rgb(102, 78, 249, 0.1);
  .h4 {
    position: absolute;
    top: 14px;
    left: 100px;
  }
  .span-button {
    position: absolute;
    top: 20px;
    left: 182px;
    width: 136px;
    height: 25px;
    padding-top: 8px;
    padding-left: 10px;
    background-color: $quaternary;
    border-radius: 20px;
    border: 2px solid $quaternary;
    color: $elevenfold;
    cursor: pointer;
    &:hover {
      background-color: rgba(102, 78, 249, 0.1);
    }
    &.item {
      border-color: $fivefold;
      background-color: $secondary;
    }
    .span-button__icon {
      position: absolute;
      top: 8px;
      left: 113px;
      width: 36px;
      height: 18px;
      stroke: $fivefold;
    }
  }
  .body {
    position: absolute;
    top: 65px;
    left: 183px;
    margin: 0;
    padding: 0;
    width: 150px;
    border-radius: 10px;
    background-color: $secondary;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    list-style-type: none;
    z-index: 5;
    .content {
      padding: 7px 14px;
      border-radius: 10px;
      color: $primary;
      cursor: pointer;
      &:hover {
        background-color: $quaternary;
      }
    }
  }
}
.block-price {
  display: inline-block;
  position: relative;
  width: 430px;
  height: 100%;
  border-right: 1px solid rgb(102, 78, 249, 0.1);
  .h4 {
    position: absolute;
    top: 14px;
    left: 24px;
    &.item1 {
      left: 292px;
    }
  }
  .input {
    position: absolute;
    top: 21px;
    width: 73px;
    height: 23px;
    background-color: $quaternary;
    padding: 5px 12px;
    border: 2px solid $quaternary;
    border-radius: 20px;
    outline: none;
    color: $primary;
    cursor: pointer;
    &.item1 {
      left: 185px;
    }
    &.item2 {
      left: 305px;
    }
    &:focus{
      border-color: $fivefold;
      background-color: $secondary;
    }
    &:hover {
      background: rgba(102, 78, 249, 0.1);
    }
  }
}
.block-option {
  display: inline-block;
  position: relative;
  width: 178px;
  height: 78px;
  border-right: 1px solid rgb(102, 78, 249, 0.1);
  border-bottom: 4px solid $secondary;
  &.item1 {
    border-bottom: 4px solid $fivefold;
  }
  .h4 {
    position: absolute;
    top: 10px;
    left: 25px;
    color: $primary;
    cursor: pointer;
    .h4-icon {
      position: relative;
      top: 3px;
      left: 10px;
      width: 18px;
      height: 18px;
      fill: $fivefold;
    }
  }
}
.block-button {
  display: inline-block;
  position: absolute;
  .button-clear {
    position: absolute;
    top: 21px;
    left: 49px;
    width: 100px;
    height: 37px;
    background-color: $quaternary;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    &:hover {
      background: rgba(102, 78, 249, 0.1);
    }
  }
  .button-ok {
    position: absolute;
    top: 21px;
    left: 179px;
    width: 192px;
    height: 37px;
    text-align: left;
    padding-left: 15px;
    background-color: $fivefold;
    border: none;
    border-radius: 22px;
    color: $secondary;
    cursor: pointer;
    &:hover {
      background-color: $twelvefold;
    }
    .button-ok__icon {
      position: absolute;
      top: 10px;
      margin-left: 10px;
      width: 19px;
      height: 19px;
      transform: rotate(270deg);
      stroke: $secondary;
    }
  }
}



