@import '../../../common/scss/variables.scss';

// typography
.span {
  font-family: Inter;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight24;
	color:       $secondary;
}
///////////////////////////////
.span {
  display: table-cell;
  position: relative;
  top: -15px;
  width: 306px;
  height: 48px;
  background-color: $seventeenfold;
  border-radius: 33px;
  text-align: center;
  vertical-align: middle;
  .icon {
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
    fill:rgba(255, 255, 255, 0.5);
    margin-left: 5px; 
  }
}
