@import '../../../../../common/scss/variables.scss';

// typography
.div {
  font-family: Inter;
  font-size:   $fontSize14;
  font-style:  $fontStyleNormal;
  font-weight: $fontWeight500;
  line-height: $lineHeight17;
  color:       $elevenfold;
}
///////////////////////////////
.div {
  padding-top: 30px;
  text-align: center;
}