@import '../../../../../common/scss/variables.scss';

// typography
.h2 {
  font-family: Inter;
	font-size:   $fontSize25;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight30;
  color:       $secondary;
}
.p {
  font-family: Inter;
	font-size:   $fontSize16;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight500;
	line-height: $lineHeight19;
  color:       $secondary;
}
.button {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight600;
	line-height: $lineHeight17;
  color:       $primary;
}
.card-h2 {
  font-family: Inter;
	font-size:   $fontSize18;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight22;
	color:       $fivefold;
  &.item3 {
    font-family: Inter;
    font-size:   $fontSize30;
    font-style:  $fontStyleNormal;
    font-weight: $fontWeight700;
    line-height: $lineHeight36;
    color:       $primary;
  }
}
.card-p {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight400;
	line-height: $lineHeight17;
	color:       $primary;
}
.card-a {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight700;
	line-height: $lineHeight17;
	color:       $primary;
  text-decoration: none;
}
.span {
  font-family: Inter;
	font-size:   $fontSize14;
	font-style:  $fontStyleNormal;
	font-weight: $fontWeight600;
	line-height: $lineHeight17;
  color:       $fivefold;
}
///////////////////////////////
.container {
  position: relative;
  background-image: url(../../../../../common/img/general/bg1.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 440px;
  width: 100%;
  height: 100%;
}
.icon {
  position: relative;
  width: 70px;
  height: 70px;
  &.item1 {
    top: 47px;
    left: 1237px;
    fill: $secondary;
  }
  &.item2 {
    top: 156px;
    left: 1206px;
    fill: $sixfold;
  }
}
.h2 {
  display: inline-block;
  position: relative;
  top: 30px;
  left: 500px;
}
.p {
  position: relative;
  top: 14px;
  left: 530px;
  width: 380px;
  text-align: center;
}
.button {
  position: relative;
  top: 21px;
  left: 639px;
  width: 167px;
  height: 37px;
  border-radius: 19px;
  border: none;
  background-color: $secondary;
  cursor: pointer;
  &:hover {
    color: $thirteenfold;
  }
  .button-icon {
    position: relative;
    top: 1px;
    width: 12.09px;
    height: 15px;
    margin-right: 11px;
    fill: $sixfold;
  }
}
///////////////////////////////////////////
.grid {
  display: grid;
  position: relative;
  top: 114px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  width: 1278px;
  margin: 0 auto;
  .card {
    width: 406px;
    height: 345px;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
    overflow: hidden;
    &.item1 {
      background-color: $secondary;
    }
    &.item2 {
      background:  url('../../../../../common/img/general/bg3.png'), 
                   linear-gradient(105.54deg, #FFD54F 33.53%, #FEC100 94.13%);
      background-position: bottom right;
      background-repeat: no-repeat;
    }
  }
  .card-span {
    display: table-cell;
    position: relative;
    top: 29px;
    left: 38px;
    width: 98.52px;
    height: 98.52px;
    border-radius: 66px;
    background-color: $secondary;
    box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);
    vertical-align: middle;
    text-align: center;
    .card-icon {
      fill: $fivefold;
      &.item1 {
        width: 66px;
        height: 66px;
      }
      &.item2 {
        width: 54px;
        height: 54px;
      }
    }
  }
  .card-h2 {
    position: relative;
    width: 200px;
    top: -58px;
    &.item1 {
      left: 162px;
    }
    &.item2 {
      left: 172px;
    } 
    &.item3 {
      top: 15px;
      left: 78px;
      width: 250px;
    }
  }
  .card-p {
    position: relative;
    left: 37px;
    width: 335px;
    text-align: justify;
    &.item1 {
      top: -20px;
    }
    &.item2 {
      top: -26px;
    }
    &.item3 {
      top: 25px;
      width: 320px;
    }
  }
  .card-a {
    position: relative;
    left: 36px;
    width: 224px;
    height: 39px;
    padding: 10px 19px;
    background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
    box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
    border-radius: 17px;
    &.item1 {
      top: 8px;
      &:hover {
        background: $thirteenfold;
      }
    }
    &.item2 {
      top: -3px;
      &:hover {
        background: $thirteenfold;
      }
    }
    &.item3 {
      top: 51px;
      background: linear-gradient(270deg, #7E6AF3 0%, #6540CD 100%);
      box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
      color: $secondary;
      &:hover {
        background: linear-gradient(270deg, $ninefold 0%, $tenfold 94.5%);
      }
    }
    .card-a__icon {
      position: relative;
      top: 6px;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      transform: rotate(270deg);
      &.item1 {
        stroke: $primary;
      }
      &.item2 {
        stroke: $secondary;
      }
    }
  }
}
.span {
  position: relative;
  top: 178px;
  left: 80px;
}
